li{
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

/*kazdy nieparzysty li bedzie lightgray tlo*/
li:nth-child(even){
    background-color: lightgrey;
}

button {
    width: 600px;
}
textarea{
    width: 600px;
    height: 100px;
    text-align: left;
}
input{
    width: 600px;
}

div.a{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    background-color: yellow;
}
/* Zgodnie z zapowiedzią pozbyłem się też kropek z listy wypunktowanej oraz usunąłem jej domyślne marginesy i padding,
aby treść wiadomości była wyrównana z resztą elementów w kontenerze.*/